{% extends "layout.html" %}
{% block body %}


        <!-- Page Header-->
        <header class="masthead" style="background-image:    url('{{url_for('static',filename='assets/img/about-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <P><!--{{params['about_text']}}-->Professional Summary
                            Innovative tech mind with 15 years of experience working as a computer programmer. Capable of working with a variety of technology and software solutions, and managing databases. Valuable team member who has experience diagnosing problems and developing solutions. Extensive expertise in networking systems and working with mainframe computers. Talented leader with unique ideas and a history of successful contributions in the field.
                        </P>

                     
                            <P>
                            
                            Skills
                            Solid background and advanced knowledge in computer development software including C++, Python, R, Spark, Visual Basic, and Maven.
                            Skilled in working with database management tools such as MySQL, Hadoop, Sybase, and MongoDB.
                            Highly organized with exceptional commitment to task completion and quality assurance when working with computer software programs.
                            Committed to delivering company objectives to projects and results to customers and improving each version of software I engage with.
                            Ability to solve complex problems successfully with minimal guidance or help using a logical reasoning technique and a strong attention to detail.
                            Work Experience</P>
                            <BR>
                            <P>
                          
                             
                            
                            Solve software errors by running extensive testing processes and analyzing details about the program settings.
                            Review computer software program functionality and adjust capabilities to reflect project objectives, management input, or other feedback.
                            Lead the building process of new program development by managing all tasks and supervising the team of analysts and operators.
                            </P>

             
                                <P>
                             
                            
                 
                             
                            
                            Revised programming and software development projects by updating code and working to improve functionality.
                            Constructed workflow documents before beginning a new project in order to map out program design and ideas visually.
                            Lowered a software package’s error and bug rate by 87% with a new series of updates and programming revisions.
                             
                            
                        </P>

                        <BR>
                            <P>
                             
                            
                            Analyzed systems administration tools and programming input to help improve the software design of a product.
                            Documented each new update and revision of any type of software project by using comments in the instructions area of the code.
                            Improved the efficiency of an e-commerce suite of enterprise software by more than 60% with revisions and workflow changes.
                             
                            
                        </P>

                        <BR>
                            <P>
          
                             
                            
                            Institute for the Certification of Computing Professionals
                            Bachelor of Science in Computer and Information Systems2002
                             
                            
                            Georgia State UniversityCity, State
                            Hobbies and Interests
                            After my work day ends each day, I work on hobbies that are based on computers and technology. I am a volunteer at a local community technology venture that aims to bring high-tech devices to low-income neighborhoods. I work with local vendors to get technology donations onto a portable technology bus that visits various parts of the city several times a week. On the bus, I assist young people and the elderly with getting connected.</p>

                    </div>
                </div>
            </div>
        </main>
    
{% endblock %}